# Supabase
DATABASE_URL=postgresql://postgres.[PROJECT-REF]:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://[PROJECT-REF].supabase.co
SUPABASE_PUBLISHABLE_KEY=your-publishable-key

# Server
PORT=3001
APP_FRONTEND_URL=http://localhost:3000
NODE_ENV=development
